 <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= item.name %>
        <%= link_to "", item, method: :delete, class: 'glyphicon glyphicon-ok' %>
      </h4>
      <small>
        <%= distance_of_time_in_words(Time.now, item.created_at.to_date + 7) %> left <br>
      </small>
    </div>
  </div>
